.image img {
    width: 200px;
    height: 200px;
    margin-top: 5px;
}

.header {
    font-weight: 700;
    color: blue;
}

.content {
    width: auto
}

.card-item {
    border: 1px solid black;
    border-radius: 5px;
    margin: 3% 20%;
}